* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: $Concrete;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 120px;
}
.wrapper-abonnement {
    width: 350px;
    height: 550px;
    margin: 0 20px;
    background-color: $White;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    transition: .5s;
}
.wrapper-abonnement:nth-last-child(2) {
    height: 650px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    .name-abonnement {
        margin-bottom: 20px;
    }
    ul {
        height: 420px;
    }
    li {
        font-size: 18px;
    }
}
.wrapper-abonnement:hover {
    transform: scale(1.1);
}
.name-abonnement {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}
.prix {
    text-align: center;
    background-color: $Black;
    color: $White;
    width: 80%;
    border-radius: 40px;
    z-index: 2;
}
.prix-ans {
    font-size: 30px;
    margin-right: 10px;
}
.basic-abonnement {
    color: $Pizazz;
}
.standard-abonnement {
    color: $Tropaz;
}
.premium-abonnement {
    color: $Tundora;
}
main ul {
    width: 80%;
    margin: -20px auto;
    padding-top: 30px;
    height: 400px;
    border-radius: 0px 0px 40px 40px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}
.avantage-basic,
.btn-basic {
    background-color: $Pizazz;
    color: $White;
}
.avantage-standard,
.btn-standard {
    background-color: $Tropaz;
    color: $White;
}
.avantage-premium,
.btn-premium {
    background-color: $Tundora;
    color: $White;
}
main li {
    margin: 0 15px 20px 50px;
    font-weight: 100;
    font-size: 16px;
    position: relative;
    display: flex;
    align-items: center;
}
li.uncheck::before,
li.check::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url(../images/uncheck.png);
    background-size: cover;
    position: absolute;
    left: -35px;
}
li.check::before {
    background-image: url(../images/check.png);
}
.btn-abonner {
    margin: 40px 0 20px 0;
    width: 80%;
    height: 50px;
    border-radius: 20px;
    border: none;
}