.acceuil {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenaire-rond {
    width: 900px;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.rond {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
    width: 900px;
    border-radius: 50%;
    border: 5px $aquamarine solid;
    animation: rond 5s infinite;
}

.wrapper-text {
    background-color: $aquamarine;
    font-size: 40px;
    height: 800px;
    width: 800px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: capitalize;
    position: absolute;
    top: 50px;
    left: 50px;
}


.relax {
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 20px;
}

.description {
    font-size: 30px;
    margin-bottom: 50px;
}

.tester {
    background-color: transparent;
    border-radius: 30px;
    padding: 10px;
    background-color: $shamrock;
    border: 2px solid $blanc;
    color: $blanc;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.femme-meditation {
    position: absolute;
    top: 600px;
    left: 235px;
    width: 400px;
    height: 400px;
}


.femme-animation {
    animation: tourneMadame 4s linear;
}