header {
    display: flex;
    justify-content: center;
    width: 100%;
}

ul {
    display: flex;
    list-style-type: none;  
}

li {
    margin: 80px 30px;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: $Black;
}

main div.container img {
    background-color: $Black;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 1px solid $Alto;
    transition: 0.3s;
    
    &:hover {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 10px 12px;
    }
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    width: 250px;
    margin: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-transform: capitalize;
}

.title-sound {
    font-size: 30px;
    margin: 15px 0;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 0 0 10px $Alto;
    color: $Aquamarine;
}
p {
    transition: 0.4s;
    &:hover {
        scale: 1.1;
    }
}
.wrapper-play {
    height: 80px;
    width: 100vw;
    position: fixed;
    bottom: 0px;
    left: 0;
    background-color: $Aquamarine;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.wrapper-play img {
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: none;
}

.progressBar {
    width: 300px;
    height: 5px;
    background-color: $White;
    border-radius: 2px;
}

.progressBar[type=range]::-webkit-slider-thumb {
    background-color: $Black;
}

.vinille-animation {
    animation: tour-vinille 5s infinite linear;
}

.name-sound-play {
    width: 110px;
    text-align: center;
}

.img-sound-play {
    border-radius: 10px;
}


.div-pop-all-screen {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgba(77, 77, 77, 0.389);
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-pop-wrapper {
    width: 700px;
    height: 350px;
    background-color: $White;
    opacity: 1;
    display: flex;
    position: relative;
}

.closePop {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 45px;
}

.contain-pop-info-music img {
    width: 150px;
}

.contain-pop-info-music {
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.contain-pop-info-music p {
    width: 175px;
    text-align: center;
}

.contain-time-music {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    justify-content: space-evenly;
}

.contain-time-music p {
    border: 1px $Black solid;
    padding: 3px;
    border-radius: 5px;
}


.buttonAnimationTime {
    border-radius: 12px;
    border: 3px outset $Black;
    position: relative;
    display: inline-block;  
    padding: 15px 30px;
    color: $White;
    text-transform: uppercase;
    letter-spacing: 4px;
    overflow: hidden;
    box-shadow: 0 0 10px $DoveGray;
    font-size: 18px;
    width: 200px;
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
    background: linear-gradient(160deg, $Scorpion , $MineShaft);
    text-shadow: 0px 0px 2px $Aquamarine;
}

@media screen and (max-width: 845px) {
    .container {
        width: 200px;
    }
    main div.container img {
        background-color: $Black;
        width: 130px;
        height: 130px;
    }
    .title-sound {
        font-size: 20px;
    }
    p {
        font-size: 14px;
    }
    .div-pop-wrapper {
        width: 80%;
    } 
    .buttonAnimationTime {
        width: 150px;
        font-size: 13px;
    }
}

@media screen and (max-width: 645px) {
    main{
        width: 100%;
    }
    .container {
        width: 150px;
    }
    main div.container img {
        background-color: $Black;
        width: 100px;
        height: 100px;
    }
    .div-pop-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
    } 
    .buttonAnimationTime {
        margin: 5px 0;
    }
    .contain-pop-info-music img{
        width: 100px;
    }
}