ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    padding: 0;
}

li {
    margin: 80px 30px;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: $Black;
}

img.logo {
    width: 200px;
    height: 200px;
}

.to-center {
    width: 500px;
}