@keyframes tour-vinille {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}

@keyframes tourneMadame {
    0% {
        transform: rotate(0deg)
    }

    20% {
        transform: rotate(30deg)
    }

    60% {
        transform: rotate(-30deg)
    }

    100% {
        transform: rotate(0deg)
    }

}

@keyframes rond {
    0% {
        height: 900px;
        width: 900px;
    }

    50% {
        height: 800px;
        width: 800px;
    }

    100% {
        height: 900px;
        width: 900px;
    }
}

@media screen and (max-width: 1024px) {
    /* Redéfinition des valeurs d'animation pour les écrans jusqu'à 1024px */
    @keyframes rond {
        0% {
            height: 570px;
            width: 570px;
        }

        50% {
            height: 500px;
            width: 500px;
        }

        100% {
            height: 570px;
            width: 570px;
        }
    }
}

@media screen and (max-width: 700px) {
    /* Redéfinition des valeurs d'animation pour les écrans jusqu'à 700px */
    @keyframes rond {
        0% {
            height: 350px;
            width: 350px;
        }

        50% {
            height: 300px;
            width: 300px;
        }

        100% {
            height: 350px;
            width: 350px;
        }
    }
}
