$Alto: #d2cfcf;
$Aquamarine: #72FFB6;
$White: #fff;
$Concrete: #F2F2F2;
$DoveGray: #626262;
$MineShaft: #252525;
$Black: #000;
$Pizazz: #FF9501;
$Scorpion: #5f5f5f;
$Shamrock: #54DC96;
$Tropaz: #25589A;
$Tundora: #4D4D4D;