.acceuil {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenaire-rond {
    width: 900px;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.rond {
    height: 900px;
    width: 900px;
    border-radius: 50%;
    border: 5px #72FFB6 solid;
    animation: rond 5s infinite;
}

@keyframes rond {
    0% {
        height: 900px;
        width: 900px;
    }
    50% {
        height: 800px;
        width: 800px;
    }
    100% {
        height: 900px;
        width: 900px;
    }
}

.wrapper-text {
    background-color: #72FFB6;
    font-size: 40px;
    height: 800px;
    width: 800px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: capitalize;
    position: absolute;
    top: 50px;
    left: 50px;
}

.relax {
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 20px;
}

.description {
    font-size: 30px;
    margin-bottom: 50px;
}

.tester {
    background-color: transparent;
    border-radius: 30px;
    padding: 10px;
}

img.femme-meditation {
    position: absolute;
    top: 550px;
    left: 235px;
    width: 400px;
    height: 400px;
}