header {
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
    list-style-type: none;
}

li {
    margin: 80px 30px;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: black;
}

img.logo {
    width: 200px;
    height: 200px;
    margin-right: 450px;
}