* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header {
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
    list-style-type: none;
}

li {
    margin: 80px 30px;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: black;
}

img.logo {
    width: 200px;
    height: 200px;
    margin-right: 450px;
}
main div.container img {
    background-color: black;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 1px solid rgb(167, 167, 167);
    transition: 0.3s;
    &:hover {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 10px 12px;
    }
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto 75px auto;
}
.container {
    width: 250px;
    margin: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-transform: capitalize;
}
.title-sound {
    font-size: 30px;
    margin: 15px 0;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 0 0 10px #d2cfcf;
    color: #72FFB6;
}
p {
    transition: 0.4s;
    &:hover {
        scale: 1.1;
    }
}
.wrapper-play {
    height: 80px;
    width: 100vw;
    position: fixed;
    bottom: 0px;
    left: 0;
    background-color: #72FFB6;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.wrapper-play img {
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: none;
}

.progressBar {
    width: 300px;
    height: 5px;
    background-color: white;
    border-radius: 2px;
}

.progressBar[type=range]::-webkit-slider-thumb {
    background-color: black;
}

.vinille-animation {
    animation: tour-vinille 5s infinite linear;
}
@keyframes tour-vinille {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 360deg;
    }
}




.name-sound-play {
    width: 110px;
    text-align: center;
}

.img-sound-play {
    border-radius: 10px;
}